/* .gradient_container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .bpms_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    width: 28vw;
    height: 39.3vw;
    position: relative;
    overflow: hidden;
    background: linear-gradient(207.16deg, #00F1FF 0.34%, #790A83 82.65%);
    background-size: 200% 100%; 
    background-position: right center; 
    transition: background-position 1.5s ease-in-out;
}

.bpms_box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../Assets/BPMS.jpg') no-repeat center;
    background-size: cover;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    z-index: 1;
}

.bpms_box h1 {
    margin-top: 15vw;
    color: white;
    text-align: center;
    transition: color 0.5s ease-in-out;
    position: relative;
    z-index: 2;
}

.bpms_box:hover {
    background-position: left center; 
}

.bpms_box:hover::before {
    opacity: 1; 
}

.bpms_box:hover h1 {
    background: linear-gradient(207.16deg, #00F1FF 0.34%, #790A83 82.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* 

.hrms_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    width: 30vw;
    height: 39.3vw;
    background: linear-gradient(206.88deg, #210379 12.71%, #FF5900 90.63%);
}
.hrms_box h1{
    margin-top: 15vw;
    color: white;
    text-align: center;
}
.hrms_box:hover h1{
    background: linear-gradient(206.88deg, #210379 12.71%, #FF5900 90.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pms_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    width: 30vw;
    height: 39.3vw;
    background: linear-gradient(207.56deg, #1DE370 0.34%, #572209 75.58%);
}
.pms_box h1{
    margin-top: 15vw;
    color: white;
    text-align: center;
}
.pms_box:hover h1{
    background: linear-gradient(207.56deg, #1DE370 0.34%, #572209 75.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ems_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    width: 30vw;
    height: 39.3vw;
    background: linear-gradient(207.75deg, #084656 10.21%, #DB5254 91.03%);
}
.ems_box h1{
    margin-top: 15vw;
    color: white;
    text-align: center;
}
.ems_box:hover h1{
    background: linear-gradient(207.75deg, #084656 10.21%, #DB5254 91.03%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.lms_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
    width: 28vw;
    height: 39.3vw;
    background: linear-gradient(205.58deg, #D7C504 10.19%, #B50093 90.49%);
}
.lms_box h1{
    margin-top: 15vw;
    color: white;
    text-align: center;
}
.lms_box:hover h1{
    background: linear-gradient(205.58deg, #D7C504 10.19%, #B50093 90.49%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button_border {
    margin-left: 13vw;
    margin-top: auto;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.2vw;
}
.button_border img{
    margin-top: 0.2vw;
} */